.App {
  text-align: center;
  
}

.header{
  z-index: 2;
}

.content{
  z-index: 0;
}



@media(min-width: 800px){
  .cards{
    display: none;
    
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

