.App {
  text-align: center;
}


@media(min-width: 800px){
  .cards{
    display: none;
    
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

